$blue: #00AEFF;

.algolia-autocomplete {
    float: left;

    &:before {
        content: url(../images/algolia-mark-square.svg);
        position: absolute;
        z-index: 10;
        left: 4px;
        top: 4px;
        width: 20px;
    }
}

#post-search-input {
    border-color: $blue;
    padding-left: 26px;
    width: 350px;
    border-radius: 3px;

    &:focus {
        box-shadow: none;
    }
}


.aa-dropdown-menu {
    width: 348px;
    background: #FFF;
    border: 1px solid $blue;
    top: 26px !important;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.aa-suggestion {
    padding: 10px;
    border-bottom: 1px solid #f5f5f5;

    &:after {
        content: " ";
        display: table;
        clear: both;
    }

	a {
		text-decoration: none;
		color: #444;
	}
}

.aa-suggestion.aa-cursor {
    background: rgba(0,174,255, .1);
    cursor: pointer;
}

.aa-suggestion em {
    font-style: normal;
    background-color: rgba(red($blue),green($blue),blue($blue), .1);
    border-bottom: 1px solid rgba(red($blue),green($blue),blue($blue), 1);
}

.wc-osa__number {
    font-weight: bold;
}

.wc-osa__date, .wc-osa__line address {
    color: #9D9DBD;
}

.wc-osa__line.wc-osa__billing_shipping {
    font-size: 11px;
    font-style: italic;
}

.aa-suggestion mark {
    float: left !important;
    margin-right: 5px !important;
    height: 18px !important;
    width: 18px !important;
    font-size: 18px !important;
    position: relative !important;
}

.wc-osa__total,
.wc-osa__payment-method {
    float: right;
}

.wc-osa__shipping-method,
.wc-osa__payment-method{
    color: #9D9DBD;
}

