.algolia-autocomplete {
    float: left;
}

.algolia-autocomplete:before{
    content: url(../img/algolia-mark-square.svg);
    position: absolute;
    z-index: 10;
    left: 4px;
    top: 4px;
    width: 20px;
}

#post-search-input {
    border-color: #00AEFF;
    padding-left: 27px;
    width: 300px;
    border-radius: 3px;
}

.aa-dropdown-menu {
    width: 298px;
    background: #FFF;
    border: 1px solid #00AEFF;
    top: 26px !important;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.aa-suggestion {
    padding: 10px;
    border-bottom: 1px solid #f5f5f5;
}

.aa-suggestion.aa-cursor {
    background: rgba(0,174,255, .1);
}

.aa-suggestion em {
    font-style: normal;
    background-color: rgba(0,174,255, .1);
    border-bottom: 1px solid rgba(0,174,255, 1);
}


