$blue: #00AEFF;

.algolia-autocomplete {
    float: left;

    &:before {
        content: url(../img/algolia-mark-square.svg);
        position: absolute;
        z-index: 10;
        left: 4px;
        top: 4px;
        width: 20px;
    }
}

#post-search-input {
    border-color: $blue;
    padding-left: 26px;
    width: 350px;
    border-radius: 3px;

    &:focus {
        box-shadow: none;
    }
}


.aa-dropdown-menu {
    width: 348px;
    background: #FFF;
    border: 1px solid $blue;
    top: 26px !important;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.aa-suggestion {
    padding: 10px;
    border-bottom: 1px solid #f5f5f5;

    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

.aa-suggestion.aa-cursor {
    background: rgba(0,174,255, .1);
    cursor: pointer;
}

.aa-suggestion em {
    font-style: normal;
    background-color: rgba(red($blue),green($blue),blue($blue), .1);
    border-bottom: 1px solid rgba(red($blue),green($blue),blue($blue), 1);
}

.aos-order__number {
    font-weight: bold;
}

.aos-order__date {
    color: #9D9DBD;
}

.aa-suggestion mark {
    float: left;
    margin-right: 5px !important;
    height: 18px !important;
    width: 18px !important;
}

.aa-dropdown-menu img.aos-powered-by{
    width: 130px;
    float: right;
    margin: 10px;
}

.aos-order__total,
.aos-order__payment-method {
    float: right;
}

.aos-order__shipping-method,
.aos-order__payment-method{
    color: #9D9DBD;
}

